<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/courses/add" method="POST">
  <label for="courseName">Course name</label>
  <input type="text" id="courseName" name="courseName"  th:value="(${course} != null ? ${course.getName()} : '')">
  <label for="courseDescription">Course description</label>
  <input type="text" id="courseDescription" name="courseDescription"  th:value="(${course} != null ? ${course.getDescription()} : '')">
  <label>Teacher</label>
  <select name="teacherId">
    <option th:if="${course} != null"
            th:selected="${course.getTeacher() != null && course.getTeacher().getId() == t.getId()}"
            th:each="t : ${teachers}"
            th:value="${t.getId()}"
            th:text="${t.getUsername()}">
    </option>
    <option th:if="${course} == null"
            th:each="t : ${teachers}"
            th:value="${t.getId()}"
            th:text="${t.getUsername()}">
    </option>
  </select>
  <input style="visibility: hidden" th:if="${course} != null" name="courseId" th:value="${course.getCourseId()}">
<div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a type="button" class="btn btn-primary" href="/courses">Back</a>
</div>

</form>
</body>
</html>