<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>


</head>
<body>
<header>
    <h1>Courses List</h1>
    <ul>
        <li th:each="course:${courses}">
            <th:block th:text="${course.name}"/>
            (
            <th:block th:text="${course.courseId}"/>
            )
        </li>
    </ul>
</header>
<main>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <h2>Choose course:</h2>
    <form th:action="@{'/listCourses'}" th:method="POST">
        <th:block th:each="course:${courses}">
            <label th:for="courseId" th:text="${course.name}"></label><input type="radio" th:id="${course.courseId}"
                                                                             name="courseId"
                                                                             th:value="${course.courseId}"><br>
        </th:block>


        <input type="submit" value="Submit">
    </form>
    </th:block>
    <table>
        <thead>
        <tr>
            <th scope="col">Course name</th>
            <th scope="col">Course description</th>
            <th scope="col">Course teacher</th>
            <th scope="col">Course id</th>
            <th scope="col">Course type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course: ${courses}">
            <td th:text="${course.getName()}"></td>
            <td th:text="${course.getDescription()}"></td>
            <td th:text="${course.getTeacher().getUsername()}"></td>
            <td th:text="${course.getCourseId()}"></td>
            <td th:text="${course.getType()}"></td>
            <td>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:method="DELETE"  th:action="@{'/courses/delete/{id}' (id=${course.getCourseId()})}">
                    <button class = "delete" type="submit">Delete</button>
                </form>
                <button class="edit">
                <a th:href="@{'/courses/edit-form/{id}' (id=${course.getCourseId()})}">Edit</a>
                </button>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <button class="add">
        <a href="/courses/add-form">Add new course</a>
        </button>
        </th:block>
        <button>
            <a href="/grades">Grades</a>
        </button>
    </div>
    <div th:if="${hasError}">
        <p th:text="'Error: ' + ${error}"></p>
    </div>
</main>
</body>
</html>