<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Grades Table</h1>
<table>
    <thead>
    <tr>
        <th scope="col">Grade</th>
        <th scope="col">Student name</th>
        <th scope="col">Student surname</th>
        <th scope="col">Course name</th>
        <th scope="col">Timestamp</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="grade: ${grades}">
        <td th:text="(${grade.getGrade()})"></td>
        <td th:text="${grade.getStudent().getName()}"></td>
        <td th:text="${grade.getStudent().getSurname()}"></td>
        <td th:text="${grade.getCourse().getName()}"></td>
        <td th:text="${#temporals.format(grade.getTimestamp(), format)}"></td>

    </tr>
    </tbody>
</table>
<div>
    <h3>Filter grades by interval</h3>
    <form  action="/grades">
    <label>From</label><input type="datetime-local" name="from"><br>
    <label>To</label><input type="datetime-local" name="to"><br>
        <button type="submit">Submit</button>
    </form>
</div>
<div>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
<button>
<a href="/grades/add-grade">Add Grade</a>

</button>
    </th:block>
<button>
    <a href="/courses">Back</a>
</button>
</div>
</body>
</html>